body{
    background: rgb(27,32,38);
    background: linear-gradient(90deg, rgba(27,32,38,1) 0%, rgba(37,44,52,1) 18%, rgba(54,67,73,1) 50%, rgba(108,123,131,1) 78%, rgba(122,132,141,1) 100%);
    color: #d4d6d7;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
}

.card:hover{
    background-color: #a4a6a8;
    transform: scale(1.2);
    transition-duration: .4s;
    height: 11em;
}

#content{
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 15em);
    row-gap: 1em;
    column-gap: 3em;
    justify-content: center;
    color: white;
}
img{
    width: 100%;
    height: auto;

}